@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,200;1,500;1,700&family=Roboto:wght@300;400&display=swap');

:root {
    --primary-color: #111317;
    --primary-color-light: #1f2125;
    --primary-color-extra-light: #35373b;
    --secondery-color: #ed9838;
    --secondery-color-dark: #d77709;
    --text-light: #d1d5db;
    --white: #ffff;
    --max-width: 1200px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.section__container {
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
}





.section__header {
    margin-bottom: 1rem;
    font-size: 2.25rem;
    font-weight: 600;
    text-align: center;
    color: var(--white);
}

.section__header {
    max-width: 600;
    margin: auto;
    color: var(--text-light);
    text-align: center;
}

.btn {
    padding: 1rem 2rem;
    outline: none;
    border: none;
    font-size: 1rem;
    color: var(--white);
    background-color: var(--secondery-color);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background-color: var(--secondery-color-dark);
}

img {
    width: 100%;
    display: flex;
}

a {
    text-decoration: none;
}


.bg__blur {
    position: absolute;
    box-shadow: 0 0 1000px 50px var(--secondery-color);
    z-index: -1;
}

body {
    font-family: "Poppins ", sans-serif;
    background-color: var(--primary-color);
    text-transform: uppercase;
}



#menu-bars {
    display: none;
    top: 3.5rem;
    right: -20px;
    position: absolute;
    cursor: pointer;
    font-size: 2vw;
    color: white;
}

#menu-cross {
    z-index: 999;
    display: none;
    top: -13px;
    position: absolute;
    cursor: pointer;
    font-size: 2vw;
    color: white;
}




nav {
    position: relative;
    align-items: center;
    justify-content: space-between;
    max-width: var(--max-width);
    margin: auto;
    padding: 2rem 1rem;
    display: flex;

}

#nav__logo {
    max-width: 100px;
}

#nav__logo a::after {
    content: none;
}


.nav__links {

    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}

a {
    position: relative;
    padding-bottom: 0.75rem;
    color: var(--white);
}

a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    left: 0;
    bottom: 0;
    background-color: var(--secondery-color);
    transition: 0.3s;
}

a:hover::after {
    width: 50%;
}


.section__container {
    position: relative;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

.section__container::before {
    content: "FITNESS";
    position: absolute;
    bottom: 5rem;
    right: 20rem;
    font-weight: 700;
    opacity: 0.5;
    line-height: 7rem;
    z-index: -1;
    font-size: 10rem;
}

.hrader__blur {
    bottom: 5rem;
    right: 0;
}

.header__content h4 {
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 600;
    color: var(--secondery-color);
}

.header__content h1 {
    margin-bottom: 1rem;
    font-size: 5rem;
    font-weight: 700;
    line-height: 6rem;
    color: var(--white);
}

.header__content h1 span {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px var(--white);
}

.header__content p {
    margin-bottom: 2rem;
    color: var(--text-light);
}

.header__image {
    position: relative;
}

.header__image::before {
    content: 'O';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 40rem;
    line-height: 20rem;
    color: var(--secondery-color);
    opacity: 0.1;
    z-index: -1;
}

.header__image img {
    max-width: 350px;
    margin: auto;
}



.explor__countainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}



.explore__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.explore__header h2 {
    margin: 0;
}

.explore__nav {
    display: flex;
    align-items: right;
    gap: 3rem;
}

.explore__nav span {
    padding: 6px 9px;
    font-size: 1.5rem;
    color: var(--white);
    border: 2px solid var(--white);
    cursor: pointer;
    transition: 0.3s;
    border-radius: 100%;
}

.explore__nav span:hover {
    border-color: var(--secondery-color);
    color: var(--secondery-color);
}

.explore__grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
}


.explore__card {
    width: 101%;
    padding: 1rem;
    background-color: var(--primary-color-light);
    border: 2px solid transparent;
    border-radius: 10px;
    transition: 0.3s;
}

.explore__card:hover {
    background-color: var(--primary-color-extra-light);
    border-color: var(--secondery-color);
}

.explore__card span {
    display: inline-block;
    padding: 2px 9px;
    margin-bottom: 2rem;
    font-size: 1.75rem;
    color: var(--white);
    background-color: var(--secondery-color-dark);
    border-radius: 5px;
}

.explore__card h4 {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--white);
}

.explore__card p {
    margin-bottom: 1rem;
    color: var(--text-light);
    line-height: 2rem;
}

.explore__card a {
    color: var(--white);
    transition: .3s;
}

.explore__card a:hover {
    color: var(--secondery-color);
    transition: .3s;
}

/* another section is started here  */


.class__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.class__image {
    position: relative;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.class__img-1 {
    position: absolute;
    right: 0;
    top: 0;
    max-width: 550px;
    border-radius: 10px;
    z-index: 1;
}

.class__img-2 {
    position: absolute;
    left: -100px;
    bottom: 3px;
    max-width: 300px;
    border-radius: 10px;
    z-index: 1;
}



.class__content .section__header {
    text-align: left;
    max-width: 700px;
}

.class__content p {
    margin-bottom: 4rem;
    color: var(--text-light);
    line-height: 2rem;
}





.join__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.join__container h2 {
    max-width: 700px;
    margin: 0 auto;
}

.section__subheader {
    color: var(--text-light);
    margin-top: -5%;
}


.join__image {
    position: relative;
}

.join__image img {
    border-radius: 10px;
    width: 100%;
    opacity: .10;
}


.join__grid {
    background-color: var(--primary-color-light);
    border-radius: 3.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    margin-top: -15rem;
    background-color: var(--primary-color-extra-light);
}

.join__card {
    display: flex;
    flex-direction: column;
    /* Stack content vertically */
    align-items: center;
    /* Center all content horizontally */
    text-align: center;
    /* Center text inside the card */
    padding: 20px;
    /* Padding inside each card */
    border-radius: 10px;
    /* Optional: rounded corners */
}

.join__card span {
    padding: 5px 12px;
    font-size: 1.75rem;
    color: var(--white);
    background-color: var(--secondery-color-dark);
    border-radius: 5px;
    margin-bottom: 10px;
    /* Adds space between the icon and the content */
}

.join__card h4 {
    margin-bottom: .5rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--white);
}

.join__card p {
    color: var(--text-light);
    margin-top: 0;
}


/* css for the about section is here ++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.about__img {
    margin-top: -3rem;
}

.about__heading {
    /* background-color: red; */
    color: white;
    font-size: 3vw;
    text-align: center;
    padding: 2rem 0rem;
    text-transform: none;
}

.about__subheading {
    /* background-color: red; */
    line-height: 6rem;
}








/* media querie is here +++++++++++++++++++++++++++++++++++++++++++++ */

@media screen and (max-width: 850px) {
    html {
        font-size: 50%;
    }

    #nav__logo {
        max-width: 50px;
    }

    #menu-bars {
        display: inline;
        position: absolute;
        top: 3.5rem;
        right: 1rem;
        z-index: 9999;
        font-size: 4vw;
    }

    #menu-cross {
        z-index: 999;
        top: 3.5rem;
        font-size: 4vw;
        right: 1rem;
    }

    .nav__links {
        right: -2.5rem;
        display: none !important;
        font-size: 2.5vw;
        font-weight: 700;
        top: 0rem;
        min-width: 110%;
        padding: 4.4rem 0;
        z-index: 999;
        flex-direction: column;
        position: absolute;
        border-bottom-left-radius: 10px;
        background-color: rgba(255, 255, 255, 0.304);
        backdrop-filter: blur(12px);
        transition: 1s;
    }

    /* Active class directly on .nav__links */
    .nav__links.active {
        display: flex !important;
        /* Show links when active */
    }

    .btn {
        display: none;
    }



    /* for header section =================================================+++++++++++++ */


    .section__container {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .section__container::before {
        /* display: none; Hide the large "FITNESS" text */
        left: 2rem;
    }

    .header__content {
        text-align: center;
        padding: 1rem;
        margin-top: 10rem;
    }

    .header__content h1 {
        font-size: 4.5rem;
       
        line-height: 4rem;
    }

    .header__content h1 span {
        -webkit-text-stroke: 0.5px var(--white);
    }

    .header__content p {
        font-size: 0.9rem;
        line-height: 2rem;
        padding: 0 2rem;
        margin-bottom: 1.5rem;
    }

    .header__image img {
        max-width: 150px;
    }

    .header__image::before {
        font-size: 40rem;
        line-height: 10rem;
    }

    /* this is the media Q for the parogram section ++++++++++++++++++++++++++++++++++++++++ */

    .explore__header {
        padding: 0 2rem;
    }

    .explore__grid {
        gap: 4rem;
    }



    /* this is the media Q for the classessssssss section ++++++++++++++++++++++++++++++++++++++++ */
    #about p {
        text-align: justify;
        width: 100%;
        /* padding: 2rem 6rem; */
        font-size: 2rem;
        line-height: 3rem;
    }
    .about__img {
        /* padding: 3rem 0; */
        /* margin-right: 6rem; */
        margin-bottom: 3rem;
        margin-top: -3rem;
    }

    .about__heading {
        color: white;
        font-size: 3vw;
        text-align: center;
        padding: 2rem 0rem;
        text-transform: none;
    }

    .about__subheading {
        /* background-color: red; */
        line-height: 6rem;
    }




    /* this is the media Q for the classessssssss section ++++++++++++++++++++++++++++++++++++++++ */
    .class__img-1 {
        max-width: 350px;
    }

    .class__img-2 {
        left: 0rem;
        top: 20rem;
        max-width: 208px;
    }

    .class__image {
        height: 325px;
    }

    .class__content .section__header {
        text-align: center;
        line-height: 5rem;
    }

    .class__content p {
        padding: 0 2rem;
    }
}